%html
  %head
    %script{:src => "http://js.pusher.com/1.11/pusher.min.js"}
    :javascript
      var pusher = new Pusher('#{Pusher.key}'); // uses your API KEY
      var channel = pusher.subscribe('test_channel');
      channel.bind('greet', function(data){
        alert(data.greeting);
      });
  %body
    %header
      %h1
        Traxel Pipe
    #content
      
    %footer
      powered by heroku & pusherapp
